.commentContainer {
    width: 100%;
    max-width: 95%;
    height: auto;
    padding: 1rem;
    background-color: #2a2a2a;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    gap: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
}

.txtBox {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
}

.txtStyle {
    font-size: 1.2rem;
    line-height: 1.6;
    background-color: transparent;
    word-wrap: break-word;
    color: rgba(224, 224, 224, 0.9);
    font-family: 'Arial', sans-serif;
}

.dateStyle {
    font-size: 0.9rem;
    color: rgba(160, 160, 160, 0.9);
    font-family: 'Arial', sans-serif;
    background-color: transparent;
}

.usernameStyle {
    font-size: 1.5rem; /* Increased font size for username */
    font-weight: 600; /* Slightly bold */
    color: rgba(224, 224, 224, 0.9); /* Consistent text color */
    background-color: transparent;
}
