.productCard {
    width: auto; /* Allow container width to adjust based on its content */
    height: auto; /* Allow container height to adjust based on its content */
    display: grid;
    grid-template-rows: auto auto auto auto; /* Make rows responsive to content height */
    background-color: #0e0e0e;
    border-radius: 1rem;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    margin-top: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow for better visibility */
    max-width: 300px; /* Optional: Max width for better responsiveness */
}

.productImage {
    width: 100%; /* Make the image take full width of the container */
    height: auto; /* Maintain aspect ratio */
    background-color: transparent;
    border-radius: 1rem;
}

.name, .description {
    width: 100%; /* Use full width of the container */
    font-size: 1rem; /* Keep font size responsive */
    text-align: center;
    background-color: transparent;
    word-wrap: break-word; /* Prevent text from overflowing */
    color: white; /* Ensure text is readable */
}

.addToOrderButton {
    width: 100%; /* Take full width of the container */
    height: 40px; /* Set a fixed height for the button */
    background-color: #272626;
    font-size: large;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    color: white;
}

.basket:hover {
    background-color: #3a3a3a; /* Change background on hover */
}

.productDetails, .itemsList{
    background-color: transparent;
}

.quantityInput{
    background-color: #0e0e0e;
    border: 1px solid #272727;
    border-radius: 0.2rem;
    padding: 0.3rem 0;
}

.itemsList {
    list-style-type: none; /* Remove default bullet points */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

.item {
    margin: 0.2rem 0; /* Add some space between items */
    color: #ffffff; /* Adjust color as needed */
    font-size: 0.9rem; /* Adjust font size as needed */
    background-color: transparent;
}
